<h3><%= @instructor.name %></h3>
<img src="<%= @instructor.image %>" alt="<%= @instructor.name %>">

<% if @instructor.students.empty? %>
  <h1>HEAVENS TO NEPTUNE!!!!</h1>
  <h5><%= @instructor.name.upcase %> doesn't have any students yet... </h5>
<% else %>
  <h5><%= @instructor.name %>'s Students: </h5>
  <% @instructor.students.each do |student| %>
    <%= student.name %>
  <% end %>
<% end %>

<%= button_to "Schedule an appointment", new_boating_test_path, method: 'get' %>
<%= button_to "Back to all", instructors_path, method: 'get' %>
