<h1>Create a new Boating Test</h1>

<!-- a user can create a
 new boating test by inputting the
 test name, inputting a student's name,
 and selecting the instructor -->
<%= form_for @boating_test do |f| %>
  <div class="form-group">
    <%= f.label :student_name %>
    <%= f.text_field :student_name, class:"form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :test_name %>
    <%= f.text_field :test_name, class:"form-control"%>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :instructor_id %>
    <!--  :instructor_id is what we are sending to the controller,
          Instructor.all is what we are iterating over
          :id is what data value should be sent under the key :instructor_id
          :name is what is displayed to our user-->
    <%= f.collection_select :instructor_id, Instructor.all, :id, :name, class:"form-control" %>
  </div>
  <%= f.submit %>
<% end %>
